@{
    ViewData["Title"] = "Tecnologias";
}
<!-- Section: Features v.3 -->
<section class="my-5 card rounded" style="padding: 30px;">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Technologies I used on this miniproject</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        This is a simple page that implements Real Time Chat Box with Broadcast style. Is very simple to integrate it with Users and authentication. This utilizes Websocket to comunicate without requests.
        I have used the latest versions of each library so you could intagrate this with your latests projects ;)
    </p>

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-xl-5 text-center text-lg-left align-self-center">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-lg-7">

            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">ASP.NET Core v2.2</h5>
                    <p class="grey-text">
                        ASP.NET Core is the open-source version of ASP.NET, that runs on macOS, Linux, and Windows. ASP.NET Core was first released in 2016 and is a re-design of earlier Windows-only versions of ASP.NET.
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!-- Grid row -->
            <div class="row mb-3">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">SignalR</h5>
                    <p class="grey-text">
                        Today's modern apps are expected to deliver up-to-date information without hitting a refresh button. Add real-time functionality to your dashboards, maps, games and more.

                        What is real-time functionality? It's the ability to have your server-side code push content to connected clients as it happens, in real-time.
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            <!--Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Material Desing for Bootstrap</h5>
                    <p class="grey-text mb-0">
                        World's most popular framework for building responsive, mobile-first websites and apps
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!--Grid row-->
            <br />
            <!--Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">HTML 5 / CSS 3 / JavaScript whit Promises</h5>
                    <p class="grey-text mb-0">
                        The front-end basics.
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!--Grid row-->
            <br />
            <!--Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">jQuery - Bootstrap</h5>
                    <p class="grey-text mb-0">
                        Front-end libraries that make our life easier.
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!--Grid row-->
            <br />
            <!--Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Moment.js</h5>
                    <p class="grey-text mb-0">
                        Very helpful library for handle with datetime on JavaScript.
                    </p>
                </div>
                <!-- Grid column -->

            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->